.we-card{margin-top:0;padding:12px 15px;margin-top: 0px;}
.we-card.express{padding:2px 15px;}
.weui-row:nth-child(1){margin-top:0;}
/*.weui-col-33 img{max-width:80%;}*/
.weui-col-66{line-height:18px;margin-top:5px;}
.weui_navbar{position:fixed;z-index:999;}
.weui_navbar_item.weui_bar_item_on{color:#ffffff;background-color:#2f2f33;}
.weui_navbar_item{font-size:16px;padding:8px 0;background-color:#2f2f33;height:28px;line-height:28px;}
.weui_navbar:after,.weui_navbar_item:after{border:none;}

.price{font-size:14px;}
.ptime{font-size:12px;}
.time{font-size:12px;color:#fff;;}
.time p{display:block;background-color:#393a3e;padding:0px 5px;float:right;margin-top:25px;}
.btn_auction{border-radius:0;border:none;background-color:#ffffff;font-size:14px;height:40px;line-height:40px;}
.weui_navbar+.weui_tab_bd{padding-top:44px;}

.weui_btn:after{border-radius:0;border:none;border-top:1px solid rgba(219,219,219,.6);border-bottom:1px solid rgba(219,219,219,.6);}
.weui_btn{margin-bottom:8px;border-radius:0;}
.weui_tab_bd.pplist{padding-bottom:0px;}

.total{font-size:14px;margin-top:10px;margin-left:15px;}
.weui_btn{margin-bottom: 5px;}

.menu-button{float:left;width:50%;}

@media screen and (max-width:375px){
  .time p{margin-top:15px;}
}

@media screen and (max-width:320px){
  /*.weui-col-33 img{max-width:90%;}*/
  .total{margin-top:3px;}
  .time p{margin-top:5px;}
}