.we-card{margin-top:10px;padding:16px 15px;}
.we-card:nth-child(1){margin-top:0;}
.we-card:nth-child(2){padding:0px 15px;}
.we-card:nth-child(4){margin-top:0;}
.weui-row{margin-top:10px;}
.weui-row:nth-child(1){margin-top:0;}
.weui_label{color:#b3b3b3;}
.weui_cell_select{font-size:14px;}

input[type="text"]{border:none;font-size: 14px;width:100%;}
textarea{border:none;font-size:14px;width:100%;overflow:hidden;resize: none;text-align:left;text-indent:1em;}

footer{height:57px;}
.footbar{z-index:999;height:49px;}
.footbar a{color:#fff;}
.weui_tabbar{font-size:17px;color:#ffffff;}
.weui_tabbar .weui-row{width:100%;}
.weui_tabbar .weui-col-50{padding:11px 0;}
.weui_tabbar .weui-col-50{background-color:#393a3e;}
.weui_tabbar .weui-col-50:nth-child(2){background-color:#1fcf12;}
.weui_tabbar .weui-col-50:nth-child(1) > a{color:#1fcf12;}
.weui_tabbar .weui-col-100{padding:11px 0;background-color:#1fcf12;}

.weui-photo-browser-modal{z-index:9999;}

.weui_icon_clear{width:27px;height:27px;text-align:right;float:right;margin-top:-8px;position:relative;z-index:99999;}