body{background-color:#eeeff3;}

.weui_panel{margin-top:0;}
.weui_cell{padding:10px 0;}
.title{padding:10px 15px;}
.title p{color:#393a3e;}
.title p:nth-child(1){font-size:16px;}
.title p:nth-child(2){font-size:12px;margin-top:4px;}
.box{background-color:#fff;margin-bottom:5px;overflow:hidden;}
.box .we-card{padding:0 15px;border-top:1px solid rgba(219,219,219,.4);color:#6d6d6f;margin-top:0;overflow:hidden;background-color:#ffffff;}